<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>local.mdb.ProcessWorkout</string>
		
		<key>Program</key>
		<string>/usr/bin/osascript</string>
		<key>ProgramArguments</key>		
		<array>
			<string>osascript</string>
			<string>/Users/mikeyb/Dropbox/code/python/ProcessWorkout/scheduling/Run_ProcessRunGap_TEST.scpt</string>
		</array>

		<key>WatchPaths</key>
		<array>
			<string>/Users/mikeyb/Library/Mobile Documents/iCloud~com~rungap~RunGap/Documents/Export_test/</string>
		</array>
		<!--key>ThrottleInterval</key>
		<integer>30</integer-->
		
		<!--key>StartCalendarInterval</key>
		<dict>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>50</integer>
		</dict-->
		
		<key>StandardInPath</key>
		<string>/tmp/mdb.processWorkout.stdin</string>
		<key>StandardOutPath</key>
		<string>/tmp/mdb.processWorkout.stdout</string>
		<key>StandardErrorPath</key>
		<string>/tmp/mdb.processWorkout.stderr</string>
	</dict>
</plist>