config.txt
.DS_Store
__pycache__/
Run_ProcessRunGap_TEST.app
Run_ProcessRunGap.app
AppleScript/Run_ProcessRunGap_TEST.app
AppleScript/Run_ProcessRunGap.app
scheduling/Run_ProcessRunGap.zsh
scheduling/Run_ProcessRunGap.applescript
scheduling/Run_ProcessRunGap.scpt
wrktAnalyzeConfig.txt
logging.conf
requirements_20210528.txt
